html, body, #__nuxt, #__layout,.v-main, .v-main__wrap {
  max-height: 100%;
}

.v-main__wrap {
  overflow: auto;
  &::-webkit-scrollbar {
    background-color: rgba(0,0,0,.2);
  }
  &::-webkit-scrollbar-thumb {
     backdrop-filter: blur(20px);
    background-color: rgba(0,0,0,.2);
  }
}

.flex-box {
  display: flex;
}
.align-items {
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.width-10px {
  width: 10px;
}
.captcha-reload-btn {
  height: 56px!important;
}
.blur {
  backdrop-filter: blur(20px) !important;
  background: rgba(0,0,0,.2)!important;
  -moz-backdrop-filter: blur(20px) !important;
}
.switch-on-app-bar {
  .v-input__slot {
    margin-bottom: 0;
  }
  .v-messages {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .v-main__wrap {
    &::-webkit-scrollbar {
      width: 10px;
      background-color: rgba(0,0,0,.2);
    }
    &::-webkit-scrollbar-thumb {
      backdrop-filter: blur(20px);
      background-color: rgba(0,0,0,.2);
    }
  }
}
.light {
  font-weight: 400;
}
.v-application {
  .text-h5, .text-h6, .text-body-1 {
    font-family: 'JetBrains Mono', sans-serif!important;
  }
}

@font-face{
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
  url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.footer-avatar {
  border-radius: 5px;
}
.footer-name {
  font-size: 1.5em;
  font-weight: 400;
}
.footer-avatar-and-name {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .footer-avatar-and-name {
    justify-content: center;
  }
}

.info-dialog-container {
  background-color: white;
  height: 100%;
}
